#API NAME
NAME=my-online-doctor
 
#API SETTINGS
HTTPS=true
PORT=3000
SSL=true

#DATABASE SETTINGS
#URL STRUCTURE postgresql://(DB USER):(DB PASSWORD)@localhost:(DB PORT)/(DB NAME)
DATABASE_URL=postgresql://postgres:12345@localhost:5432/My-Online-Doctor

#SESSION SETTINGS
SESSION_SECRET=s%3AmYykKbVNQ3sB4sLjvPGJmqyg0XcDIvap
SESSION_MAX_AGE=86400000
SESSION_SAME_SITE='none'